{% extends 'base.html' %}


{% block title %}Add Credential{% endblock %}

{% block content %}
<form method="POST">
    <h1 class="heading">Add Credential</h1>
    <div class="form-group">
        <label for="website_app">Website/App Name</label>
        <input
                type="text"
                class="form-control"
                id="website_app"
                name="website_app"
                placeholder="https://www.passwordManager.com"
        >
        <br>
        <label for="email_username">Email/UserName </label>
        <input
                type="text"
                class="form-control"
                id="email_username"
                name="email_username"
                placeholder="ankurrawat620@gmail.com"
        >
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}